*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
    
  }

  
  nav{
    background: #3f3f3f;
    height: 80px;
    width: 100%;
    position: fixed;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 30px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 7px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a:hover{
    background: #919191;
    transition: .5s;
  }
 
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }
  
  .image{
      position: unset;
      height: 800px;
      width: 100%;
      margin-top: 80px;
     
  }



  ::-webkit-scrollbar{
    width: 13px;
  }

::-webkit-scrollbar-thumb{
  background:linear-gradient(transparent,#6de2ff);
  border-radius: 6px;
 
}

::-webkit-scrollbar-thumb:hover{
  background:linear-gradient(transparent,#d6f6ff);
}


.area{
  width: 50%;
  float: left;
}

.area h1{
  font-size: 43px;
  width: 640px;
  position: relative;
  margin-left: 50px;
  margin-top: 75px;
}

.area p{
  width: 650px;
  font-size: 20px;
  margin: 30px 0 30px 40px;
  line-height: 25px;
  color: #777777;
}

.us{
  width: 650px;
  font-size: 15px;
  margin: 30px 0 30px 40px;
  line-height: 25px;
  color: #383838;
}

.video{
  margin-top: 60px;
  width:  45%;
  float: right;
  }

 
  




  .feature-section {
    margin: 400px 0;
   margin-bottom: -1px;
    padding: 35px 50px 20px 50px;
}

.section-title {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin: 0 auto 70px auto;
    font-family: cursive;
    color: #0066B2;
}

.text-center {
    text-align: center;
}

.feature-section .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
}

.col-md-6 .col-lg-4{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 16px;
    padding-left: 16px;
}

.media {
    display: flex;
    align-items: flex-start;
}

.media_details{
    height: 201px;
    width: 260px;
}

.media h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 16px;
    text-align: center;
    color: rosybrown;
}

.media p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: rgba(37,38,94,.7);
    margin-bottom: 36px;
    text-align: center;
    color: #0066B2;
}





  